.Button {
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-size: .8rem;
    padding: 3px 5px;
    font-weight: bold;
    transition: background-color .17s ease-in;
}

.Button:disabled {
    opacity: .7;
    cursor: not-allowed;
}

.Done {
    background-color: #1cc51c;
    color: #fff;
}

.Done:hover {
    background-color: #15a215;
}

.Add {
    background-color: #007bff;
    color: #fff;
    width: 100px;
}

.Edit {
    background-color: #daaa18;
    color: #fff;
    width: 100px;
}
